In [1]:
%load_ext autoreload
%autoreload 2
from ASD_Circuits import *

/Users/jiayao/anaconda3/lib/python3.7/site-packages/statsmodels/compat/pandas.py:49: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  data_klasses = (pandas.Series, pandas.DataFrame, pandas.Panel)

In [ ]:
### Subset expression matrix

In [3]:
# expression matrix
raw_matrix = pd.read_csv("../dat/allen-mouse-exp/replicate/expression_energy.csv")

In [5]:
print(raw_matrix.shape)
raw_matrix.head(2)

(26078, 1328)

,gene,1000,223,12998,163,552,875,484682524,484682500,561,...,651,607344834,484682520,438,304325711,324,321,796,436,1051
0,68637491,NaN,8.54318,NaN,NaN,NaN,11.279900,NaN,NaN,NaN,...,8.374100,NaN,NaN,9.31575,NaN,14.19060,8.33054,12.49050,NaN,NaN
1,1086,NaN,1.63863,NaN,3.04064,NaN,0.860511,NaN,NaN,NaN,...,0.398294,NaN,NaN,0.72872,NaN,1.53664,1.14846,1.01822,NaN,NaN

In [10]:
# subset to 213 selected structures
structure_df = pd.read_csv("../dat/allen-mouse-exp/replicate/allen_brain_atlas_structures.csv")
Selected_STR = [x.strip() for x in open("/Users/jiayao/Work/ASD_Circuits/dat/allen-mouse-exp/Structures.txt", 'rt')]

In [65]:
STR_ID2Name = {}
selected_str_ids = []
for i, row in structure_df.iterrows():
    name = row["safe_name"]
    name = re.sub('[()]', '', name)
    name = re.sub('[-]', ' ', name)
    name = "_".join(name.split())
    if name in Selected_STR:
        STR_ID2Name[str(row["id"])] = name
        selected_str_ids.append(str(row["id"]))
STR_ID2Name["gene"] = "section_id"

In [57]:
raw_matrix = raw_matrix[["gene"]+selected_str_ids]

In [58]:

raw_matrix.shape

(26078, 214)

In [66]:
raw_matrix.columns = [STR_ID2Name[x] for x in raw_matrix.columns]

In [68]:
raw_matrix.shape

(26078, 214)

In [69]:
### convert section id -> mouse gene -> human gene expression matrix